////////////////////////////// NAVBAR //////////////////////////////


    
ul li
    list-style-type: none

.brand-image
    max-width: 100%
    height: 80px
    border-radius: 50%

.nav-links
    margin-right: auto
    margin-left: auto

.my-item
    font:
        size: 2em



////////////////////////////// INDEX //////////////////////////////



.first-container
    display: block
    width: 100%
    height: 100%
    margin: auto
    padding: auto


.welcome
    text-align: center
    animation-name: landing
    animation-timing-function: ease
    animation-iteration-count: 1
    animation-duration: 2s
    animation-play-state: running
    animation-fill-mode: forwards
    animation-direction: normal

.choose-to-play
    text-align: center
    opacity: 0
    animation-name: quiz
    animation-delay: 0.75s
    animation-timing-function: ease-in
    animation-iteration-count: 1
    animation-duration: 1s
    animation-play-state: running
    animation-fill-mode: forwards
    animation-direction: normal

.yes-or-no
    display: flex
    opacity: 0
    width: 100%
    margin-top: 20px
    margin-left: auto
    margin-right: auto
    padding: auto
    justify-content: space-around
    animation-name: yes-no
    animation-delay: 0.75s
    animation-timing-function: ease-in
    animation-iteration-count: 1
    animation-duration: 1s
    animation-play-state: running
    animation-fill-mode: forwards
    animation-direction: normal

.yes-button
    width: 15%

.no-button
    width: 15%

@keyframes yes-no
    0%
        opacity: 0
    100%
        opacity: 1

@keyframes quiz
    0%
        opacity: 0
    100%
        opacity: 1
        
@keyframes landing
    0%
        opacity: 0
        font-size: 1000%
    100%
        opacity: 1
        font-size: 950%



////////////////////////////// LOGIN //////////////////////////////



.error
    display: none



////////////////////////////// FOOTER //////////////////////////////



.my-footer
    position: fixed
    left: 0
    bottom: 0
    height: 10%
    width: 100%
    background-color: #C6BDC8

.footer-container
    display: flex
    width: 100%
    justify-content: space-around

.space
    width: 70%
    height: 100%

.my-date
    align-self: center

.icons
    align-self: center

.fa
    margin: auto
    padding: 50px
    color: black
    text-align: center
    text-decoration: none

.fa:hover
    opacity: 0.7